Repository goyal2/EduSync-Frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-3.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-3.yml: any of: src, public, package.json, package-lock.json, azure-pipelines.yml, staticwebapp.config.json
  azure-pipelines.yml: any of: src, public, package.json, package-lock.json, but not: *.md, docs

Update azure-pipelines-3.yml for Azure Pipelines
  azure-pipelines-3.yml
Due: none

Add files via upload
  staticwebapp.config.json
Due: azure-pipelines-3.yml

Update api.js
  src/services/api.js
Due: azure-pipelines-3.yml, azure-pipelines.yml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-zealous-forest-001d1c300.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-3.yml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-mango-hill-03ef85000.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-3.yml
